<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Instagram</title>
<link href="nav.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="../../instagram/img/icon.png">

<header>
  <div class="left_box">
    <div class="favicon_frame">
      <img class="faviconFrame" src="../../instagram/img/line_favicon.png" alt="인스타 사진" />
    </div>
    <div class="line"></div>
      <img class="logo" src="../../instagram/img/logo_text.png" alt="인스타 로고" />
  </div>
  <div class="right_box">
    <div class="heart_box">
      <img class="heart" src="../../instagram/img/liked.png" alt="탐색" />
    </div>
    <div class="myInfo_box"></div>
      <img class="myInfo" src="../../instagram/img/myinfo.png" alt="내 프로필" />
  </div>
</header>
<!--/header-->
</body>
</html>